@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .hero {
  width: 100%;
  height: calc(100vh - 84px);
} */

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MUI date picker */

.MuiInputBase-root {
  border-radius: 10px !important;
  --tw-border-opacity: 1 !important;
}

.Mui-selected {
  background-color: #f5a524 !important;
}
